---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import Backpack from "@/components/icons/Backpack.astro";
import Rocket from "@/components/icons/Rocket.astro";
import CV from "@/components/CV.astro";
import Experience from "@/components/Experience.astro";
import Education from "@/components/Education.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";
---

<Layout
  title="Fernando del Río Figueira - Portfolio"
  description="Fernando del Río Figueira. Diseñador UX/UI y Desarrollador Full-Stack"
>
  <main class="px-6">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral
      </TitleSection>
      <Experience />

      <TitleSection>
        <Backpack class="size-8" />
        Educación
      </TitleSection>
      <Education />
      <CV />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <Rocket class="size-7" />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
