---
import Layout from "@/layouts/Layout.astro";

import SectionContainer from "@/components/SectionContainer.astro";
import TitleSection from "@/components/TitleSection.astro";
import PortfolioHeading from "@/components/project/portfolioHeading.astro";
import PlainText from "@/components/project/plainText.astro";
import LargeQuote from "@/components/project/largeQuote.astro";
import TextHeading from "@/components/project/textHeading.astro";
import LinkInline from "@/components/LinkInline.astro";
---

<Layout
  title="Fernando del Río Figueira - Portfolio"
  description="Fernando del Río Figueira. Diseñador Gráfico y UX/UI y Desarrollador Full-Stack"
>
  <main class="px-4">
    <div class="space-y-24 py-16 md:py-36">
      <SectionContainer id="Portfolio">
        <PortfolioHeading />
      </SectionContainer>

      <SectionContainer id="contexto">
        <TitleSection> Contexto </TitleSection>
        <PlainText>
          <p
            class="dark:[&>strong]:text-yellow-500 [&>strong]:text-yellow-500 [&>strong]:font-medium"
          >
            Este proyecto aborda las fases de ideación, diseño y desarrollo de
            mi propio <strong>portfolio personal</strong>. El objetivo principal
            es crear un espacio limpio, organizado y actual en el que se puedan
            mostrar tanto proyectos como contenido complementario. La primera
            fase consiste en definir una estructura.
          </p>
        </PlainText>
      </SectionContainer>

      <SectionContainer id="definición de las necesidades">
        <TitleSection> Definición de las necesidades </TitleSection>
        <PlainText>
          <p>
            En mi caso, decidí crear un portfolio en una sola pagina,
            permitiendo así que los usuanos puedan acceder a todo el contenido
            con un simple <em class="italic">scroll</em>. En un punto más tardío
            opté por añadir una explicación mucho mas detallada de cada
            proyecto, y eso no era compatible con reunir todo el contenido en
            una sola página.
          </p>
        </PlainText>
      </SectionContainer>

      <SectionContainer id="Stack tecnológico">
        <TitleSection> Stack tecnológico </TitleSection>
        <PlainText>
          <p>
            Cuando empecé a idear la forma más ágil de elaborar el portfolio
            decidí investigar sobre qué <em class="italic">framework</em> resultaría
            más adecuado para afrontar el proyecto. Me acabé decantando por <LinkInline
              class="text-yellow-500"
              href="https://astro.build/">Astro</LinkInline
            >.
          </p>
          <p>
            En cuanto a la parte de estilos, para obtener un resultado más
            unificado decidí implementar <LinkInline
              class="text-yellow-500"
              href="https://tailwindcss.com/">TailwindCSS</LinkInline
            >, un framework similar a Bootstrap que me permitiría aplicar
            estilos de CSS de forma rápida y unificada en todos los componentes.
          </p>
        </PlainText>
      </SectionContainer>

      <SectionContainer id="proscontras">
        <TitleSection> User persona </TitleSection>
        <div class="flex-wrap">
          <PlainText>
            <p
              class="dark:[&>strong]:text-yellow-500 [&>strong]:text-yellow-500 [&>strong]:font-medium"
            >
              Un portfolio tiene una finalidad principal: <strong
                >mostrar proyectos</strong
              > de forma clara y concisa. Para ello elegí como usuario modelo a un
              <em class="italic">recruiter</em> de una empresa tecnológica, con el
              fin de enfocar el portfolio hacia usuarios que quieren revisar la información
              rápidamente. Por eso, el foco principal de esta interfaz es mostrar
              un resumen de los aspectos principales en la página de inicio.
            </p>
          </PlainText>
          <div
            class="relative flex mt-5 w-full h-full flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl"
          >
            <img
              alt="user persona"
              class="object-contain object-center w-full h-full transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src="/portfolio/UserPersona_Portfolio.jpg"
            />
          </div>
        </div>
      </SectionContainer>
      <SectionContainer>
        <TitleSection> Arquitectura de la Información </TitleSection>
        <div class="flex-wrap content-center">
          <div
            class="relative flex mt-5 w-auto h-full flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl"
          >
            <img
              alt="Esquema de arquitectura de la información"
              class="object-contain object-center w-full h-full transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src="/portfolio/AI_Portfolio.png"
            />
          </div>
          <PlainText>
            <p>
              A la hora de definir los flujos de navegación diseñé un esquema
              para jerarquizar el contenido y establecer un orden dentro de la
              pantalla principal.
            </p>
            <p
              class="dark:[&>strong]:text-yellow-500 [&>strong]:text-yellow-500 [&>strong]:font-medium"
            >
              Este esquema mantiene una estructura bastante simple: Por un lado
              un <strong>menú de navegación</strong> que permite acceder directamente
              a los apartados principales de la página de inicio y; por otro lado,
              el contenido en sí.
            </p>
          </PlainText>
        </div>
      </SectionContainer>
      <SectionContainer>
        <TitleSection> Estructura </TitleSection>
        <PlainText>
          <p
            class="dark:[&>strong]:text-yellow-500 [&>strong]:text-yellow-500 [&>strong]:font-medium"
          >
            El siguiente paso fue la definición del <em class="italic"
              ><strong>layout</strong></em
            > del portfolio. Para ello, tomando como referencia el esquema de Arquitectura
            de la información, elaboré una serie de bocetos sobre cómo querría que
            se estructurasen todos los contenidos del mismo.
          </p>
        </PlainText>
        <div
          class="relative flex mt-5 w-full h-full flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl"
        >
          <img
            alt="Portfolio wireframes"
            class="object-contain object-center w-full h-full transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
            loading="lazy"
            src="/portfolio/Wireframes_Portfolio.jpg"
          />
        </div>
        <PlainText>
          <p
            class="dark:[&>strong]:text-yellow-500 [&>strong]:text-yellow-500 [&>strong]:font-medium"
          >
            Estos bocetos o <em class="italic"><strong>wireframes</strong></em> surgieron
            a partir de una serie de referentes que tomé durante la investigación
            previa.
          </p>
        </PlainText>
      </SectionContainer>
      <SectionContainer>
        <TitleSection>Desarrollo</TitleSection>
        <PlainText>
          <p
            class="dark:[&>strong]:text-yellow-500 [&>strong]:text-yellow-500 [&>strong]:font-medium"
          >
            El objetivo principal de las primeras fases de desarrollo estaba muy
            claro: <strong>Llegar al MVP</strong> (Minimum Viable Product)<strong
            >
              cuanto antes
            </strong> con el fin de tener un producto completo en el menor tiempo
            posible y, posteriormente, añadir mejoras que optimicen la experiencia.
          </p>
          <p
            class="dark:[&>strong]:text-yellow-500 [&>strong]:text-yellow-500 [&>strong]:font-medium"
          >
            Una vez creados todos los componentes, llegó el momento de
            introducir toda la información necesaria. Para ello, hice una <strong
              >selección de proyectos</strong
            > que mostraría en un primer lugar en la pantalla de inicio a modo de
            resumen, ya que la elaboración de las pestañas específicas con un desglose
            de los proyectos se realizarían en la siguiente fase.
          </p>
        </PlainText>
        <div
          class="relative flex mt-5 w-full h-full flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl"
        >
          <video
            height="full"
            width="full"
            class="object-cover"
            autoplay="true"
            loop
            muted
          >
            <source src="/portfolio/Video_Portfolio.mp4" type="video/mp4" />
            <!-- <source
              src="/moodle2.0/Video_Portfolio.webm"
              type="video/webm"
            /> --></video
          >
        </div>
      </SectionContainer>
      <SectionContainer>
        <TextHeading>
          <p>
            Si quieres saber más sobre este proyecto, puedes ponerte en contacto
            conmigo via <LinkInline href="mailto:f.delrio.figueira@gmail.com"
              >mail</LinkInline
            > o <LinkInline
              class="text-orange-500"
              href="https://www.linkedin.com/in/fernandodelriofigueira/"
              >LinkedIn</LinkInline
            >. Estaré encantado de responder a todas las preguntas.
          </p>
        </TextHeading>
      </SectionContainer>
    </div>
  </main>
</Layout>
