---
const personalImageAlt = "Fernando";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-500 [&>p>strong2]:text-green-500 dark:[&>p>strong]:text-green-500 [&>p>strong]:font-normal text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Fernando del Río Figueira, cursé el grado en Diseño Gráfico
      Multimedia y me centré en el <strong>Diseño UX/UI</strong>. Al graduarme
      comencé una beca en la que me pude acercar al mundo laboral y poner en
      práctica todo lo aprendido.
    </p>
    <p>
      En mi experiencia laboral he podido participar en múltiples proyectos,
      rondas de investigación con usuarios, jornadas de divulgación y
      actividades de voluntariado.
    </p>
    <p>
      Estos últimos meses los he dedicado a ampliar mi perfil con conocimientos
      de <strong2>Desarrollo Full-Stack</strong2>, permitiéndome conocer todas
      las fases de creación de un producto y diseñar teniendo en cuenta los
      pasos siguientes.
    </p>
  </div>

  <img
    width="250"
    height="250"
    src=`/about.webp`
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full border-gray/0 rounded-2xl p-1 md:order-2 lg:p-2 lg:w-64"
    style="object-position: 50% 50%"
  />
</article>
