---
import LinkButton from "./LinkButton.astro";
import FlagSP from "./icons/FlagSP.astro";
import FlagUK from "./icons/FlagUK.astro";
---

<div class="max-w-xl mx-12">
  <p
    class="mt-6 mb-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-500 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300 dark:[&>strong2]:text-green-500 [&>strong2]:text-green-500 [&>strong2]:font-semibold dark:text-gray-300"
  >
    ¿Quieres saber más sobre mis <em class="italic">hard skills</em> en <strong
      >diseño</strong
    > y <strong2> desarrollo</strong2>
    ? Puedes descargar mi currículum en el siguiente botón.
  </p>
  <div class="flex justify-start">
    <LinkButton
      href="/CV_FernandodelRíoFigueiraEsp.pdf"
      download="/CV_FernandodelRíoFigueiraEsp.pdf"
    >
      <FlagSP class="size-4" />
      ESP
    </LinkButton>

    <LinkButton
      href="/CV_FernandodelRíoFigueiraEng.pdf"
      download="/CV_FernandodelRíoFigueiraEng.pdf"
    >
      <FlagUK class="size-4" />
      ENG
    </LinkButton>
  </div>
</div>
